# Fabulous workaround as npm team arrogantly broke the whole purpose of npm ci and is now defending instead of fixing it:
#   https://github.com/npm/cli/issues/4998#issuecomment-1170934841
legacy-peer-deps=true